.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.edit-client-link {
 
  display: flex;
}

.edit-client-link div {
  margin-right: 20px;
  cursor: pointer;
}

.edit-client-link div:hover {
  font-weight: bold;
  text-decoration: underline;
}

.add-client-link {
  cursor: pointer;
}

.add-client-link:hover {
  font-weight: bold;
  text-decoration: underline;
}
